
.row
  .span12
    = render 'bootstrap_slider.html'

.row
  .span9
    %ul.thumbnails.custom-thumbnails
      %li.span3
        = link_to holder_tag '270x185', '', class: 'thumbnail'
        %h3.title Nosotros
        %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        = link_to holder_tag '270x185', '', class: 'thumbnail'
        %h3.title Productos
        %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

      %li.span3
        = link_to holder_tag '270x185', '', class: 'thumbnail'
        %h3.title Contacto
        %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.


  .span3
    .sidebar-nav
      %h3.title Actualizaciones
      %ul.nav.nav-list
        -#
          %li.nav-header
            %h3 Sidebar
        %li
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

        %li
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

        %li
          %p.text-center Somos una empresa que lidera en el mercado desde hace 25 años.

