.separate-row.clearfix
  %ul.nav.pull-right
    %li
      = link_to image_tag('icono-facebook.png'), 'https://www.facebook.com/pages/Manufacturas-Poly/572195642844181'
    %li
      = link_to image_tag('icono-twitter.png'), 'https://twitter.com/manufapoly'
