= page_title(raw('Editar <b>producto</b>'))

.row
  .span12

    = link_to 'Cancelar', '', class: 'btn btn-default btn-left back-js'
    = link_to 'Ver', @producto, class: 'btn btn-default'
    = render 'form'
