@import 'mixins.css.scss';

h1, h2, h3 {margin: 0; line-height: 100%}
.link {font-size: $size-readable-bebas; margin: 0}
p {font-size: $size-readable}


#main-content {
  img {width: 100%;
  }
  img.no-resp {width: auto}
}
.thumbnail,
a.thumbnail:hover, a.thumbnail:focus {border: 0; padding: 0}


#main-header {
  #header-top {
    #header-top-inner {background: $gray;}
    a {color: $gray2;}
  }
  .navbar {
    margin: 0;
  }
  nav {
    .navbar-inner {
      @extend .clear-navbar-inner;
      .container {
        height: 75px;
        @include custom-border(normal);
        ul#main-nav {
          margin-top: 8px;
          li {
            &.first {a {padding-left: $menu_link_padding_first;}}
            &.last {border-right: 0; a {border-right: 0; padding-right: $menu_link_padding_last}}
            a {font-size: $size-menu; border-right: 1px solid $gray; margin: 0; padding: $menu_link_padding;
              img {position: relative; top: -4px; margin-right: 4px}
            }
          }
        }
      }
    }
  }
}

.encabezado-links {
  a {padding: 0 12px 0 10px; border-right: 1px solid $gray2;
  }

}

.social-links {
  height: 40px; 
  li {display: none;
    @extend .custom-hover; margin-left: 20px;
  }
}



.title {
  background: $gray; color: white; text-transform: uppercase; text-align: center;
}

#main-footer {
  background: $gray;
  p {text-align: center; color: white; margin: 0}
}

.row {margin-bottom: 10px}
.well {background: none; border-radius: 0; border: 0; margin: 0}

.carousel-caption {margin-left: 0; padding-left: 0; background: none; bottom: 5%;
  .well {padding-left: 30px; padding-right: 20px}
  h3 {background: $gray; text-transform: uppercase; color: white; @include inline-block;
    .well {padding-right: 30px}
  }
  p {background: $gray-soft}
}

.btn {
  &.btn-default {background: $blue2; color: white; text-shadow: 0 0 0 transparent; font-size: $size-readable-bebas;
    float: right; padding: 10px 30px; border: 0; border-radius: 0; text-transform: uppercase; font-weight: normal;
    &.back {float: left; position: relative; margin-left: 40px;
      &:before {content: "<"; background: $gray; @include size(40px, 40px); text-align: center; @include absolute(right, top, 100%, 0);
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 40px; line-height: 80%}
    }

    &.btn-left {float: none; margin-bottom: 15px}
  }
}

.control-wrapper {height: 50px; position: relative; background: $gray;
  .carousel-control {background: none; font-size: 90px; border: 0; color: white; opacity: 1}
}

.sidebar-nav {
  h3.title {padding: 10px 0 8px}
}

.row {margin-bottom: 25px}
.icon-fake {
  width: 100px; height: 100px; background-color: $blue2; background-repeat: no-repeat; background-position: 50%; display: block;
  .media-mision & {
    background-image: $mision;
  }
  .media-vision & {
    background-image: $vision;
  }
  .textil & {
    background-image: $textil; @include size(200px, 200px);
  }
}

.actions,
.admin-links-top {
  margin-bottom: 20px; float: left; clear: left; width: 100%;
  .btn.btn-default {float: left}
}

textarea {width: 98% !important}
input[type="file"] {margin-bottom: 10px}

.tricky-destroy {display: none}
