$blue:                         #7486af;
$gray:                         #575757;
$gray2:                        #a6a5a5;
$gray-soft:                    lighten($gray, 10%);
$blue:                         #323f62;
$blue2:                        #7486af;

$border-soft:                  2px;
$border-normal:                10px;
$border-heavy:                 20px;

$mision: url(ico-mision.png);
$vision: url(ico-vision.png);

// font-sizes
$size-1: 12px;
$size-1: 12px;
$size-1: 12px;
$size-1: 12px;
$size-readable: 14px;
$size-readable-bebas: 20px;
$size-menu: 25px;
