$blue:                         #7486af;
$gray:                         #575757;
$gray-soft:                    lighten($gray, 10%);
$blue:                         #323f62;

$border-soft:                  2px;
$border-normal:                10px;
$border-heavy:                 20px;
