.separate-row.clearfix
  %ul#main-nav.nav.pull-left
    %li.first
      = link_to image_tag('ico-home.png') + ' Inicio', root_path

    %li
      = link_to 'Nosotros', quienes_somos_path

    %li
      = link_to 'Productos', categorias_path

    %li.last
      = link_to 'Contacto', new_contacto_path

