.separate-row.clearfix
  %ul#main-nav.nav.pull-left
    %li.first
      = link_to image_tag('ico-home.png') + ' Inicio', '/'
  
    %li
      = link_to 'Nosotros', '/'
  
    %li
      = link_to 'Productos', '/'
  
    %li.last
      = link_to 'Contacto', '/'

