.separate-row.clearfix
  %ul.nav.pull-left
    %li
      = link_to 'Inicio', '/'
  
    %li
      = link_to 'Nosotros', '/'
  
    %li
      = link_to 'Productos', '/'
  
    %li
      = link_to 'Contacto', '/'

